

  h1 {
    color: #008080;
    text-align: center;
  }
  
  
  h2 {
    color: black;
    text-align: center;
  }

  h3 {
    color: #008080;
    text-align: center;
  }
 
  p {

    text-align: center;
    border: 2px solid #BC8F8F;
    color: black;
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
  }  